In [22]:
import pandas as pd 
import os
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import OneHotEncoder

import seaborn as sns
import statsmodels.formula.api as sm

In [23]:
building = pd.read_csv('data/com.csv')
building.head()
# df.head()

,ptype,floora_plan,year,occ,es,site_EUI,n_site_gas,n_site_elec,water_use
0,Multifamily,412503.0,1903,100,93,32.0,20472.0,3249755.2,22061.0
1,General Medical,567517.0,1950,100,80,352.7,1255514.1,18295844.6,9574.0
2,Multifamily,321464.0,1939,100,72,76.2,8906.3,1121931.8,5915.6
3,Multifamily,54913.0,1911,100,100,17.9,601.0,262377.2,231.9
4,Multifamily,175885.0,1973,100,40,56.2,39028.3,1887619.4,237.9

In [24]:
building.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5573 entries, 0 to 5572
Data columns (total 9 columns):
ptype          5573 non-null object
floora_plan    5573 non-null float64
year           5573 non-null int64
occ            5573 non-null int64
es             5573 non-null int64
site_EUI       5573 non-null float64
n_site_gas     5573 non-null float64
n_site_elec    5573 non-null float64
water_use      5573 non-null float64
dtypes: float64(5), int64(3), object(1)
memory usage: 391.9+ KB

In [25]:
x_columns = ['ptype', 'floora_plan', 'year', 'occ', 'es', 'n_site_gas', 'n_site_elec', 'water_use']
y_columns = ['site_EUI']
# X = building[x_columns]
# y = building[y_columns]
X = pd.get_dummies(building[x_columns],drop_first=True)
Y = building[y_columns]

In [26]:
X.head()

,floora_plan,year,occ,es,n_site_gas,n_site_elec,water_use,ptype_Facility,ptype_General Medical,ptype_Hotel,ptype_Multifamily,ptype_Office,ptype_Other,ptype_Retail
0,412503.0,1903,100,93,20472.0,3249755.2,22061.0,0,0,0,1,0,0,0
1,567517.0,1950,100,80,1255514.1,18295844.6,9574.0,0,1,0,0,0,0,0
2,321464.0,1939,100,72,8906.3,1121931.8,5915.6,0,0,0,1,0,0,0
3,54913.0,1911,100,100,601.0,262377.2,231.9,0,0,0,1,0,0,0
4,175885.0,1973,100,40,39028.3,1887619.4,237.9,0,0,0,1,0,0,0

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [28]:
from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()
X_train_minmax = mm_scaler.fit_transform(X_train)
mm_scaler.transform(X_test)

C:\Users\37102\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

array([[0.04857541, 0.90540541, 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.06140504, 0.71891892, 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.02955759, 0.78918919, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.04467186, 0.74324324, 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.05842241, 0.81081081, 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.04816097, 0.78918919, 1.        , ..., 0.        , 0.        ,
        0.        ]])

In [38]:
X_train_minmax, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [39]:
reg = LinearRegression()
reg = reg.fit(X, y)

In [40]:
y_prediction = pd.DataFrame(reg.predict(X_test)).values.transpose()[0]
pd.DataFrame(y_test).values.transpose()[0]
pd.DataFrame({
    'Real' : pd.DataFrame(y_test).values.transpose()[0],
    'Predict' : y_prediction

})

       Real     Predict
0     187.3  462.917337
1      70.3 -185.556808
2      93.8  278.697692
3      82.6  208.586861
4      83.4  105.533863
5      52.8  111.731381
6      87.8  127.141352
7     126.8  257.182073
8      81.6  168.572297
9      91.7  171.065884
10     69.7   -0.677698
11     31.3   26.886763
12    147.4   38.690086
13    123.2  590.526815
14    123.7  226.676996
15     79.7   86.925606
16     95.5   82.212108
17     51.7   10.478248
18    129.3  240.948274
19     74.5   50.086391
20     88.4  162.601677
21     84.5  147.687005
22     55.2  -87.892258
23    102.2  161.767149
24    272.9  616.306310
25     39.4  -78.181485
26     79.7  -14.379417
27     84.6  161.785161
28     89.7  135.512591
29     93.9  119.661216
...     ...         ...
1642   84.8  320.774012
1643   54.8   27.308137
1644   85.8  105.298286
1645   88.2  131.312496
1646   65.9   59.578332
1647   67.2   72.367565
1648   67.0   47.717540
1649   85.6  105.268903
1650   73.5  112.350284
1651   70.1  -28.749898
1652   57.9   12.406116
1653   77.3  163.766464
1654   98.1  236.056822
1655   91.2  138.142503
1656   64.5   54.206727
1657   87.8  180.430104
1658  159.6  696.110665
1659   65.6   47.369191
1660   76.0  137.188912
1661  109.5  213.289004
1662  112.7   51.735312
1663  104.3  140.903262
1664   68.3   21.120148
1665   98.7  203.487923
1666  155.9  236.939744
1667   55.8   57.418396
1668   89.7   87.103058
1669   85.8  137.541224
1670   56.3   69.552250
1671   60.8   63.921988

[1672 rows x 2 columns]

In [41]:
print(f"Training Data Score: {reg.score(X_train_minmax, y_train)}")
print(f"Testing Data Score: {reg.score(X_test, y_test)}")

Training Data Score: 0.9965901426720737
Testing Data Score: 0.010507776247920986